@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  color-scheme: light dark;
  color: white;
  @apply bg-neutral-900;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
}

h1 {
  @apply text-2xl font-medium my-2;
}
h2 {
  @apply text-xl font-medium my-2;
}
h3 {
  @apply text-lg font-medium my-2;
}

a {
  text-decoration: underline;
}