@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Source Code Pro", monospace;
  @apply bg-black text-white;
}

html,
body {
  margin: 0;
}

h1 {
  @apply text-2xl font-medium my-2;
}

h2 {
  @apply text-xl font-medium my-2;
}

h3 {
  @apply text-lg font-medium my-2;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  @apply border-neutral-800;
}

input,
textarea,
select {
  @apply border-none rounded-xl bg-neutral-900 p-2;
}

input:disabled {
  @apply text-neutral-200/50;
}