name: Build and Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: registry.v0l.io
          username: registry
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: registry.v0l.io/lnvps-web:latest
          build-args: MODE=lnvps
          platforms: linux/amd64

      - name: Build Docker image (UAT)
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: registry.v0l.io/lnvps-web:uat
          build-args: MODE=uat
          platforms: linux/amd64
